[submodule "backend"]
	path = backend
	url = https://github.com/priyanshuranjan16/CodeForge-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/priyanshuranjan16/CodeForge-Frontend
